<section class="section-1 py-5 ">
    <div class="container">
        <div class="card border-0 shadow p-5">
            <div class="row">
                <div class="col-md-8 mb-3 mb-sm-3 mb-lg-0">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Keywords">
                </div>

                <div class=" col-md-3 mb-xs-3 mb-sm-3 mb-lg-0">
                    <div class="d-grid gap-2">
                        <a href="jobs.html" class="btn btn-primary btn-block">Search</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTENT -->
<!-- slide blog-->
<section class="section-3  py-5 py-sm-4 bg-2">
    <div class="container">
        <h2>Top blogs</h2>
        <div id="carouselExample" class="carousel slide pt-5 pt-sm-4 g-3" data-bs-ride="carousel" data-bs-pause="hover" data-bs-wrap="true">
            <div class="carousel-inner w-80 m-auto">
                <div class="carousel-item active" data-bs-interval="5000">
                    <div class="row g-3">
                        <!-- card 01 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card border-0">
                                <a href="#!"> <img src="~/img/banner-1.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">Display CSS là gì? Cách khai báo và sử dụng thuộc tính display trong CSS</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- card 02 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card border-0">
                                <a href="#!"> <img src="~/img/banner-1.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">Display CSS là gì? Cách khai báo và sử dụng thuộc tính display trong CSS</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- card 03 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card border-0">
                                <a href="#!"> <img src="~/img/banner-1.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">Display CSS là gì? Cách khai báo và sử dụng thuộc tính display trong CSS</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <div class="row g-3">
                        <!-- card 01 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card  border-0">
                                <a href="#!"> <img src="~/img/banner-2.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">Display CSS là gì? Cách khai báo và sử dụng thuộc tính display trong CSS</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<!-- Featured BLOG -->
<section class="section-3  py-5 py-sm-4">
    <div class="container">
        <h2>Featured blogs</h2>
        <div class="row pt-5 pt-sm-4">
            <div class="blog_listing_area">
                <div class="blog_lists">
                    <div class="row g-3">
                        <!-- card 01 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card shadow border-0">
                                <a asp-area="EndUser" asp-controller="Blog" asp-action="Detail"> <img src="~/img/banner-1.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a asp-area="EndUser" asp-controller="Blog" asp-action="Detail" class="text-black"><h5 class="pb-1 card-title truncate-2">Display CSS là gì? Cách khai báo và sử dụng thuộc tính display trong CSS</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas velit eligendi, perspiciatis officiis alias similique iste suscipit. Asperiores, quos corrupti! Aliquid, accusamus. Debitis quasi eius corporis, earum repellat officia.</p>
                                    <a asp-area="EndUser" asp-controller="Blog" asp-action="Detail" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>

                        <!-- card 02 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card shadow border-0">
                                <a href="#!"><img src="~/img/banner-2.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">HTML là gì? Cách khai báo và sử dụng thẻ trong HTML</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas velit eligendi, perspiciatis officiis alias similique iste suscipit. Asperiores, quos corrupti! Aliquid, accusamus. Debitis quasi eius corporis, earum repellat officia.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>

                        <!-- card 03 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card shadow border-0">
                                <a href="#!"><img src="~/img/blog.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">HTML là gì? Cách khai báo và sử dụng thẻ trong HTML</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas velit eligendi, perspiciatis officiis alias similique iste suscipit. Asperiores, quos corrupti! Aliquid, accusamus. Debitis quasi eius corporis, earum repellat officia.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Most read blog -->
<section class="section-3 bg-2 py-5 py-sm-4">
    <div class="container">
        <h2>Most read blog</h2>
        <div class="row pt-5 pt-sm-4">
            <div class="blog_listing_area">
                <div class="blog_lists">
                    <div class="row g-3">
                        <!-- card 01 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card shadow border-0">
                                <a href="#!"> <img src="~/img/banner-1.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">Display CSS là gì? Cách khai báo và sử dụng thuộc tính display trong CSS</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas velit eligendi, perspiciatis officiis alias similique iste suscipit. Asperiores, quos corrupti! Aliquid, accusamus. Debitis quasi eius corporis, earum repellat officia.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>

                        <!-- card 02 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card shadow border-0">
                                <a href="#!"><img src="~/img/banner-2.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">HTML là gì? Cách khai báo và sử dụng thẻ trong HTML</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas velit eligendi, perspiciatis officiis alias similique iste suscipit. Asperiores, quos corrupti! Aliquid, accusamus. Debitis quasi eius corporis, earum repellat officia.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>

                        <!-- card 03 -->
                        <div class="col-12 col-lg-4 col-md-6">
                            <div class="card-h-100 card shadow border-0">
                                <a href="#!"><img src="~/img/blog.jpg" class="card-img-top img-fluid card-img-height" alt=""></a>
                                <div class="card-body">
                                    <a href="#!" class="text-black"><h5 class="pb-1 card-title truncate-2">HTML là gì? Cách khai báo và sử dụng thẻ trong HTML</h5></a>
                                    <p class="card-text truncate-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quas velit eligendi, perspiciatis officiis alias similique iste suscipit. Asperiores, quos corrupti! Aliquid, accusamus. Debitis quasi eius corporis, earum repellat officia.</p>
                                    <a href="#" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>