@model JobSeeker
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="mb-4 fw-bold text-primary">Delete JobSeeker</h3>
                <form method="post">
                    <input asp-for="Id" hidden/>
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="UserName" for="floatingInput"></label>
                        <span asp-validation-for="UserName" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="Password" for="floatingInput"></label>
                        <span asp-validation-for="Password" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="Email" for="floatingInput"></label>
                        <span asp-validation-for="Email" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="FullName" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="FullName" for="floatingInput"></label>
                        <span asp-validation-for="FullName" class="text-danger m-2"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Phone" type="text" class="form-control" id="floatingInput" placeholder="">
                        <label asp-for="Phone" for="floatingInput"></label>
                        <span asp-validation-for="Phone" class="text-danger m-2"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <a asp-area="Admin" asp-controller="JobSeeker" asp-action="Index" class="btn btn-danger">Back To List</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
       <partial name="_ValidationScriptsPartial"/>
    }
}


