@model List<JobSeeker> 
<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded mx-0">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0 fw-bold text-primary">JobSeeker List</h4>
                    <a asp-area="Admin" asp-controller="JobSeeker" asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Add New JobSeeker</a>
                </div>

                <div class="table-responsive ">
                    <table id="tblData" class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Id</th>
                                <th scope="col" class="text-center">UserName</th>
                                <th scope="col" class="text-center">Password</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">FullName</th>
                                <th scope="col" class="text-center">Phone</th>
                                <th scope="col" class="text-center">Create_at</th>
                                <th scope="col" class="text-center">Update_at</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->

@section Scripts {
        <script src="~/js/JobSeeker.js"></script>
}